html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "meiryo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    padding-top: 52px;
}

/* ログイン画面のスタイル */
#login-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.login-container {
    text-align: center;
    color: #fff;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
}

.login-container h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.login-container p {
    margin: 1em 0;
    font-size: 1.2em;
}

.login-note {
    font-size: 0.9em !important;
    color: #aaa;
    margin-top: 1em;
}

.success-message {
    color: #4CAF50;
    font-size: 1.3em !important;
    font-weight: bold;
}

/* メール入力フィールド */
#email-input {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1em;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
}

#email-input:focus {
    outline: none;
    border-color: #1DA1F2;
    background-color: #fff;
}

/* ログインボタン */
.auth-btn {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #1DA1F2;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-btn:hover {
    background-color: #1a8cd8;
}

.auth-btn:active {
    background-color: #1580c5;
}

/* メインコンテンツ */
#main-content {
    display: none;
}

header {
	position: fixed;
	padding: 0.5em 0;
	width: calc(100% - 2em);
	text-align: center;
	color: #fff;
	background-color: #000;
	z-index: 2;
	transition: transform .3s;
	top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}
.hleft {
    width: calc(20% - 1em);
}
.hright {
    width: calc(20% - 1em);
}
.signout-btn {
    background-color: #606060;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    width: 30px;
    height: 30px;

    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
}
.signout-btn img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.signout-btn:hover {
    background-color: #b2b2b2;
}

h1 {
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    width: 60%;
}
.tweet {
    display: block;
    margin: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
}
.tweetbox {
    display: flex;
    margin: 0;

    width: 100%;

    background-color: rgb(255, 255, 255);
    border: 0px solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(239, 243, 244);
}
.tweetbox img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.tweetright {
    display: block;
    margin: 10px;
    margin-left: 0px;
    font-size: 14px;
    flex: 1;
}
.rtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timestamp {
    font-size: 12px;
    color: gray;
    margin: 0;
}
.rbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
    margin: 0;
}
.iine{
    margin:  auto 10px;
    position:relative
}
.iine-icon {
    font-size: 20px;
    color: gray;
    margin: 0;
}
.iine-num {
    font-size: 10px;
    color: gray;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}
.username {
    font-weight: 700;
    margin: 5px 0 0px 0;
}
.tweetreload {
    display: flex;
    position: fixed;
    left:  15px;
    bottom: 20px;
    margin: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(134, 134, 134);
    border-radius: 50%;
}
.tweetreload img {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    user-select: none;
    pointer-events: none;
}
.newtweet {
    display: block;
    position: fixed;
    right:  15px;
    bottom: 20px;
    margin: 0;
    width: 70px;
    height: 70px;
    background-color: rgb(92, 153, 230);
    border-radius: 50%;
}
.newtweet p {
    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 70px;
    margin: 0;
    user-select: none;
    pointer-events: none;
}
.tweeting-area {
    display: block;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.tweeting-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.send-tweet-btn {
    background-color: #1DA1F2;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

	border-radius: 20px; /* 角丸を入れて、左右が丸いボタンにする */
	padding: 5px 20px; /* 上下左右に余白をトル */
}
.send-tweet-btn p {
    margin: 0;
}
.cancel-btn {
margin-left: 15px;
}
textarea {
    width: 100%;
    height: calc(100% - 50px);
    border: none;
    resize: none;
    font-size: 17px;
    outline: none;
    margin-top: 5px
}
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.tweeting-bottom {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
}